<h2>Awards<a name="awards"></a></h2>
<ul>
    <li><b>Best Paper Award</b> (co-author),  International Conference on Synthesis, Modeling, Analysis and Simulation Methods, and Applications to Circuit Design (SMACD), 2025</li>
    <li><b>Member of Distinguished Review Board</b>, ACM Transactions on Design Automation of Electronic Systems (TODAES), 2025</li>
    <li><b>Best Student Paper Award</b> (co-author), International Workshop on Logic Synthesis, 2025</li>
    <li><b>Outstanding Reviewer Award</b>, Design, Automation & Test in Europe Conference & Exhibition, 2025</li>
    <li><b>Best Paper Nomination</b>, Design, Automation & Test in Europe Conference & Exhibition, 2024</li>
    <li><b>Best Ph.D. Dissertation Award</b>, China EDA Ecosystem Development Accelerator, 2023</li>
    <li>A. Richard Newton Young Student Fellow Program Attendee, 2020</li>
    <li>Runner-up, International Workshop on Logic Synthesis (IWLS) Programming Contest, 2019</li>
    <li>National Scholarship (B.S.), Ministry of Education of China, 2015</li>
</ul>
