<h2>Biography<a name="biography"></a></h2>

<p style="text-align:justify">
  I am an Assistant Professor at the Department of Mathematics and Computer Science at Eindhoven University of Technology (TU/e).
  From 2023 to 2025,
  I was a postdoctoral researcher at the Integrated Systems Laboratory (LSI) of EPFL,
  where I was fortunate to work with <a href="https://si2.epfl.ch/~demichel/" target="_blank">Prof. Giovanni De Micheli</a>.
  I received my Ph.D. degree in 2023 from Shanghai Jiao Tong University,
  supervised by <a href="https://umji.sjtu.edu.cn/~wkqian/people/weikang-qian.html" target="_blank">Prof. Weikang Qian</a>.
  I study electronic design automation (EDA),
  specifically on logic synthesis and verification, approximate computing, and AI accelerators.
</p>
