<h2>Publications<a name="publications"></a></h2>

Many publications have <font color="red"><b>OPEN SOURCE</b></font> codes. Play with them and let me know if you have any questions or suggestions.

<h3>Conference Papers</h3>
<table class="pub_table" data-id-prefix="C">
  <tbody>

  <tr>
    <td class="pub_td2"><font color="goldenrod">Chang Meng</font>, Hanyu Wang, Yuyang Ye, Mingfei Yu, Wayne Burleson and Giovanni De Micheli.
      <br><b>TRAM: Training Approximate Multiplier Structures for Low-Power AI Accelerators</b>
      <br>To appear in Design Automation Conference (DAC), Long Beach, USA, 2026.
      <br>
    </td>
  </tr>

  <tr>
    <td class="pub_td2">Yuyang Ye, Xiangfei Hu, Leyun Tian, <font color="goldenrod">Chang Meng</font>, Qing He and Longxing Shi
      <br><b>Path-Based Timing Analysis Acceleration via Segment-Level Timing Arc Reuse</b>
      <br>To appear in Design Automation Conference (DAC), Long Beach, USA, 2026.
      <br>
    </td>
  </tr>

  <tr>
    <td class="pub_td2">Jian Shi, Xuan Wang, <font color="goldenrod">Chang Meng</font>, and Weikang Qian<sup>✉</sup>.
      <br><b>QUADOL: A Quality-Driven Approximate Logic Synthesis Method Exploiting Dual-Output LUTs for Modern FPGAs</b>
      [<a href="https://arxiv.org/pdf/2411.18330" target="_blank">pdf</a>]
      [<a href="https://github.com/SJTU-ECTL/QUADOL" target="_blank">code</a>]
      <br>In International Workshop on Logic Synthesis (IWLS), Verona, Italy, 2025.
      <br><font color="#ff0000"><b>Best Student Paper Award.</b></font>
      <br>
    </td>
  </tr>

  <tr>
    <td class="pub_td2">Andrea Costamagna<sup>✉</sup>, <font color="goldenrod">Chang Meng</font>, and Giovanni De Micheli.
      <br><b>SPFD-based delay resynthesis</b>
      [<a href="https://si2.epfl.ch/demichel/publications/archive/2025/SMACD25_delay.pdf" target="_blank">pdf</a>]
      <br>In International Conference on Synthesis, Modeling, Analysis and Simulation Methods, and Applications to Circuits Design (SMACD), Istanbul, Turkey, 2025.
      <br><font color="#ff0000"><b>Best Paper Award.</b></font>
      <br>
    </td>
  </tr>

  <tr>
    <td class="pub_td2"><font color="goldenrod">Chang Meng</font><sup>✉</sup>, Wayne Burleson, Weikang Qian, and Giovanni De Micheli
      <br><b>Gradient approximation of approximate multipliers for high-accuracy deep neural network retraining</b>
      [<a href="https://github.com/changmg/AppMult-Aware-Retraining/blob/master/paper/DATE_2025_Approximate_Multiplier_Aware_DNN_Training.pdf" target="_blank">pdf</a>]
      [<a href="https://github.com/changmg/AppMult-Aware-Retraining" target="_blank">code</a>]
      <br>In Design, Automation & Test in Europe Conference & Exhibition (DATE), Lyon, France, 2025.
      <br>Acceptance rate: 25%.
      <br>
    </td>
  </tr>

  <tr>
    <td class="pub_td2"><font color="goldenrod">Chang Meng</font><sup>✉</sup>, Mingfei Yu, Hanyu Wang, Wayne Burleson, and Giovanni De Micheli
      <br><b>RareLS: Rarity-reducing logic synthesis for mitigating hardware trojan threats</b>
      [<a href="https://github.com/changmg/RareLS/blob/master/paper/ICCAD_2024_RareLS__Rare_Reducing_Logic_Synthesis_for_Mitigating_Hardware_Trojan_Threats.pdf" target="_blank">pdf</a>]
      [<a href="https://github.com/changmg/rareLS" target="_blank">code</a>]
      <br>In International Conference on Computer-Aided Design (ICCAD), New Jersey, USA, 2024.
      <br>Acceptance rate: 24.0%.
      <br>
    </td>
  </tr>

  <tr>
    <td class="pub_td2">Toshiaki Koike-Akino<sup>✉</sup>, <font color="goldenrod">Chang Meng</font>, Volkan Cevher and Giovanni De Micheli
      <br><b>Hardware-efficient quantization for green custom foundation models</b>
      <br>In International Conference on Machine Learning (ICML) Workshop, Vienna, Austria, 2024.
      <br>
    </td>
  </tr>

  <tr>
    <td class="pub_td2">Hanyu Wang, <font color="goldenrod">Chang Meng</font>, and Giovanni De Micheli
      <br><b>Global crossover: An evolution strategy for logic synthesis</b>
      <br>In International Workshop on Logic and Synthesis (IWLS), Zurich, Switzerland, 2024.
      <br>
    </td>
  </tr>

  <tr>
    <td class="pub_td2"><font color="goldenrod">Chang Meng</font>, Hanyu Wang, Yuqi Mai, Weikang Qian<sup>✉</sup>, and Giovanni De Micheli<sup>✉</sup>
      <br><b>VECSEM: Verifying average errors in approximate circuits using simulation-enhanced model counting</b>
      [<a href="https://umji.sjtu.edu.cn/~wkqian/papers/Meng_Wang_Mai_Qian_De_Micheli_VACSEM_Verifying_Average_Errors_in_Approximate_Circuits_Using_Simulation-Enhanced_Model_Counting.pdf" target="_blank">pdf</a>]
      [<a href="https://github.com/changmg/VACSEM" target="_blank">code</a>]
      <br>Design, Automation & Test in Europe Conference & Exhibition (DATE), Valencia, Spain, 2024.
      <br><font color="#ff0000"><b>Best Paper Nomination.</b></font> Acceptance rate: 25%.
      <br>
    </td>
  </tr>

  <tr>
    <td class="pub_td2">Xuan Wang, Zheyu Yan, <font color="goldenrod">Chang Meng</font>, Yiyu Shi, and Weikang Qian<sup>✉</sup>
      <br><b>DASALS: Differentiable architecture search-driven approximate logic synthesis</b>
      [<a href=".pdf" target="_blank">pdf</a>]
      <br>International Conference on Computer Aided Design (ICCAD), San Francisco, USA, 2023.
      <br>Acceptance rate: 22.9%.
      <br>
    </td>
  </tr>

  <tr>
    <td class="pub_td2"><font color="goldenrod">Chang Meng</font>, Jiajun Sun, Yuqi Mai, and Weikang Qian<sup>✉</sup>
      <br><b>MECALS: A maximum error checking technique for approximate logic synthesis</b>
      [<a href="https://umji.sjtu.edu.cn/~wkqian/papers/Meng_Sun_Mai_Qian_MECALS_A_Maximum_Error_Checking_Technique_for_Approximate_Logic_Synthesis.pdf" target="_blank">pdf</a>]
      [<a href="https://github.com/SJTU-ECTL/MECALS" target="_blank">code</a>]
      <br>Design, Automation & Test in Europe Conference & Exhibition (DATE), Antwerp, Belgium, 2023.
      <br>Acceptance rate: 25%.
      <br>
    </td>
  </tr>

  <tr>
    <td class="pub_td2">Xingyue Qian, <font color="goldenrod">Chang Meng</font>, Xiaolong Shen, Junfeng Zhao, Leibin Ni, and Weikang Qian<sup>✉</sup>
      <br><b>High-accuracy low-power reconfigurable architectures for decomposition-based approximate lookup table</b>
      [<a href="https://umji.sjtu.edu.cn/~wkqian/papers/Qian_Meng_Shen_Zhao_Ni_Qian_High-accuracy_Low-power_Reconfigurable_Architectures_for_Decomposition-based_Approximate_Lookup_Table.pdf" target="_blank">pdf</a>]
      <br>Design, Automation & Test in Europe Conference & Exhibition (DATE), Antwerp, Belgium, 2023.
      <br>
    </td>
  </tr>

  <tr>
    <td class="pub_td2"><font color="goldenrod">Chang Meng</font>$, Xuan Wang$, Jiajun Sun, Sijun Tao, Wei Wu, Zhizhang Wu, Leibin Ni, Xiaolong Shen, Junfeng Zhao, and Weikang Qian<sup>✉</sup> ($equal contribution)
      <br><b>SEALS: Sensitivity-driven efficient approximate logic synthesis</b>
      [<a href="https://umji.sjtu.edu.cn/~wkqian/papers/Meng_Wang_Sun_Tao_Wu_Wu_Ni_Shen_Zhao_Qian_SEALS_Sensitivity-driven_Efficient_Approximate_Logic_Synthesis.pdf" target="_blank">pdf</a>]
      <br>Design Automation Conference (DAC), San Francisco, CA, USA, 2022.
      <br>Acceptance rate: 23%.
      <br>
    </td>
  </tr>

  <tr>
    <td class="pub_td2"><font color="goldenrod">Chang Meng</font>, Zhiyuan Xiang, Niyiqiu Liu, Yixuan Hu, Jiahao Song, Runsheng Wang, Ru Huang, & Weikang Qian<sup>✉</sup>
      <br><b>DALTA: A decomposition-based approximate lookup table architecture</b>
      [<a href="https://umji.sjtu.edu.cn/~wkqian/papers/Meng_Xiang_Liu_Hu_Song_Wang_Huang_Qian_DALTA_A_Decomposition_based_Approximate_Lookup_Table_Architecture.pdf" target="_blank">pdf</a>]
      <br>International Conference on Computer-Aided Design (ICCAD), Munich, Germany, 2021.
      <br>Acceptance rate: 23.5%.
      <br>
    </td>
  </tr>

  <tr>
    <td class="pub_td2">Yifan Qian, <font color="goldenrod">Chang Meng</font>, Yawen Zhang, Weikang Qian<sup>✉</sup>, Runsheng Wang, and Ru Huang
      <br><b>Approximate logic synthesis in the loop for designing low-power neural network accelerator</b>
      [<a href="https://umji.sjtu.edu.cn/~wkqian/papers/Qian_Meng_Zhang_Qian_Wang_Huang_Approximate_Logic_Synthesis_in_the_Loop_for_Designing_Low_Power_Neural_Network_Accelerator.pdf" target="_blank">pdf</a>]
      <br>International Symposium on Circuits and Systems (ISCAS), Daegu, South Korea, 2021.
      <br>
    </td>
  </tr>

  <tr>
    <td class="pub_td2">Zuodong Zhang, Runsheng Wang, Zhe Zhang, Ru Huang,  <font color="goldenrod">Chang Meng</font>, Weikang Qian, and Zhuangzhuang Zhou,
      <br><b>Reliability-enhanced circuit design flow based on approximate logic synthesis</b>
      [<a href="https://umji.sjtu.edu.cn/~wkqian/papers/Zhang_Wang_Zhang_Huang_Meng_Qian_Zhou_Reliability_Enhanced_Circuit_Design_Flow_based_on_Approximate_Logic_Synthesis.pdf" target="_blank">pdf</a>]
      <br>Great Lakes Symposium on VLSI (GLSVLSI), Beijing, China, 2020.
      <br>
    </td>
  </tr>

  <tr>
    <td class="pub_td2"><font color="goldenrod">Chang Meng</font>, Weikang Qian<sup>✉</sup>, and Alan Mishchenko
      <br><b>ALSRAC: Approximate logic synthesis by resubstitution with approximate care set</b>
      [<a href="https://umji.sjtu.edu.cn/~wkqian/papers/Meng_Qian_Mishchenko_ALSRAC_Approximate_Logic_Synthesis_by_Resubstitution_with_Approximate_Care_Set.pdf" target="_blank">pdf</a>]
      [<a href="https://github.com/SJTU-ECTL/ALSRAC" target="_blank">code</a>]
      <br>Design Automation Conference (DAC), San Francisco, CA, USA, 2020.
      <br>Acceptance rate: 23.2%.
      <br>
    </td>
  </tr>

  <tr>
    <td class="pub_td2"><font color="goldenrod">Chang Meng</font>, Paul Weng, Sanbao Su, and Weikang Qian<sup>✉</sup>
      <br><b>Advanced ordering search for multi-level approximate logic synthesis</b>
      [<a href="https://umji.sjtu.edu.cn/~wkqian/papers/Meng_Weng_Su_Qian_Advanced_Ordering_Search_for_Multi_level_Approximate_Logic_Synthesis.pdf" target="_blank">pdf</a>]
      <br>International Workshop on Logic and Synthesis (IWLS), Lausanne, Switzerland, 2019.
      <br>
    </td>
  </tr>

  <tr>
    <td class="pub_td2">Zhuangzhuang Zhou, Yue Yao, Shuyang Huang, Sanbao Su, <font color="goldenrod">Chang Meng</font>, and Weikang Qian<sup>✉</sup>
      <br><b>DALS: Delay-driven approximate logic synthesis</b>
      [<a href="https://umji.sjtu.edu.cn/~wkqian/papers/Zhou_Yao_Huang_Su_Meng_Qian_DALS_Delay_Driven_Approximate_Logic_Synthesis.pdf" target="_blank">pdf</a>]
      <br>International Conference on Computer-Aided Design (ICCAD), San Diego, CA, USA, 2018.
      <br>
    </td>
  </tr>

  </tbody>
</table>

<h3>Journal Papers</h3>
<table class="pub_table" data-id-prefix="J">
  <tbody>

    <!-- Meng, Chang, Weikang Qian, and Giovanni De Micheli. "Simulation-Guided Approximate Logic Synthesis Under the Maximum Error Constraint." arXiv preprint arXiv:2505.16769 (2025). -->
  <tr>
    <td class="pub_td2"><font color="goldenrod">Chang Meng</font><sup>✉</sup>, Weikang Qian, and Giovanni De Micheli
      <br><b>Simulation-guided approximate logic synthesis under the maximum error constraint</b>
      [<a href="https://arxiv.org/pdf/2505.16769" target="_blank">pdf</a>]
      [<a href="https://github.com/changmg/SimALS-MaxError" target="_blank">code</a>]
      <br>In IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems (TCAD), 2026.
      <br>
    </td>
  </tr>

  <tr>
    <td class="pub_td2"><font color="goldenrod">Chang Meng</font>, Alan Mishchenko, Weikang Qian<sup>✉</sup>, and Giovanni De Micheli
      <br><b>Efficient resubstitution-based approximate logic synthesis</b>
      [<a href="https://umji.sjtu.edu.cn/~wkqian/papers/Meng_Mishchenko_Qian_De_Micheli_Efficient_Resubstitution-Based_Approximate_Logic_Synthesis.pdf" target="_blank">pdf</a>]
      [<a href="https://github.com/changmg/resubals" target="_blank">code</a>]
      <br>In IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems (TCAD), 2025.
      <br>
    </td>
  </tr>

  <tr>
    <td class="pub_td2"><font color="goldenrod">Chang Meng</font>, Zhuangzhuang Zhou, Yue Yao, Shuyang Huang, Yuhang Chen, and Weikang Qian<sup>✉</sup>
      <br><b>HEDALS: Highly efficient delay-driven approximate logic synthesis</b>
      [<a href="https://umji.sjtu.edu.cn/~wkqian/papers/Meng_Zhou_Yao_Huang_Chen_Qian_HEDALS_Highly_Efficient_Delay-driven_Approximate_Logic_Synthesis.pdf" target="_blank">pdf</a>]
      [<a href="https://github.com/SJTU-ECTL/HEDALS" target="_blank">code</a>]
      <br>IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems (TCAD), 2023.
      <br>
    </td>
  </tr>

  <tr>
    <td class="pub_td2">Sanbao Su$, <font color="goldenrod">Chang Meng</font>$, Fan Yang, Xiaolong Shen, Leibin Ni, Wei Wu, Zhihang Wu, Junfeng Zhao, and Weikang Qian<sup>✉</sup> ($equal contribution)
      <br><b>VECBEE: A versatile efficiency-accuracy configurable batch error estimation method for greedy approximate logic synthesis</b>
      [<a href="https://umji.sjtu.edu.cn/~wkqian/papers/Su_Meng_Yang_Shen_Ni_Wu_Wu_Zhao_Qian_VECBEE_A_Versatile_Efficiency-Accuracy_Configurable_Batch_Error_Estimation_Method_for_Greedy_Approximate_Logic_Synthesis.pdf" target="_blank">pdf</a>]
      [<a href="https://github.com/SJTU-ECTL/VECBEE" target="_blank">code</a>]
      <br>IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems (TCAD), 2022.
      <br>
    </td>
  </tr>

  </tbody>
</table>
