<h2>Professional Services<a name="services"></a></h2>
<ul>
<!-- <li> Co-Guest-Editor:
  "Advances in Microarchitecture for High-Performance Computing Application",
  special issue of Electronics
</li> -->
<li> Conference TPC Member:
  <ul>
  <li>ICCD'26, EDA track</li>
  <li>VLSI-SoC'26</li>
  <li>ICCAD'26, high-level and logic synthesis track</li>
  <li>DAC'26, high-level synthesis and logic synthesis track</li>
  <li>DATE'26, approximate computing track</li>
  <li>ICCD'25, EDA track</li>
  <li>ICCAD'25, high-level synthesis and logic synthesis track</li>
  <li>DATE'25, approximate computing track</li>
  <li>DAC'25, high-level synthesis and logic synthesis track</li>
  <li>ISEDA'25</li>
  <li>IWLS'25</li>
  <li>GLSVLSI'24</li>
  <li>ITC-Asia'24</li>
  </ul>
</li>
<li> Conference Organizing Committee:
  <ul>
    <li> FPL'26, Collaborative Projects Event Co-Chair </li>
  </ul>
</li>
<li> Journal Reviewer: TCAD, TODAES, TACO, TVLSI, TCAS-I, TNANO, Integration, and Microeletronics Journal</li>
</ul>
