<h2>Statistics<a name="statistics"></a></h2>

<div class="visitor-map">
  <!-- MapMyVisitors (ClustrMaps successor). Map fills with real visitors on the live site; empty on localhost. -->
  <script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=0-HNXgVag3yax5fi1gQdJvydJmhICdrJrf5lHR8Yo7Q&cl=ffffff&w=a"></script>
  <noscript>
    <a href="https://mapmyvisitors.com/web/1c5ef" title="Visit tracker"><img src="https://mapmyvisitors.com/map.png?d=0-HNXgVag3yax5fi1gQdJvydJmhICdrJrf5lHR8Yo7Q&cl=ffffff" alt="Map of visitors to changmg.github.io"></a>
  </noscript>
</div>
