<h2>Talks<a name="talks"></a></h2>
<ul>
    <!-- <li> <b>Efficient Logic Synthesis Methods for High-Quality Approximate Computing Circuits</b>, Huawei Inc. (Lausanne branch), Lausanne, Switzerland, Mar. 2024 </li> -->
    <li> <b>Low-Power Design with Approximate Computing: Synthesis, Verification and AI Application</b><br>
    UMass Amherst, Amherst, USA, Nov. 2024<br>
    New York University, New York, USA, Nov. 2024<br>
    Shanghai Jiao Tong University, Shanghai, China, Dec. 2024<br>
    Hunan University, Changsha, China, Jan. 2025 </li>
    <li> <b>Approximate Computing for Energy-Efficient Circuits and AI Accelerators</b>, TU Darmstadt, Darmstadt, Germany, Oct. 2025 </li>
</ul>
